<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.SecUpwN.AIMSICD">

    <!-- If we ever wanna make this a system app, we can add the following 2 lines above:
          coreApp="true"
          android:sharedUserId="android.uid.system"> -->

    <!-- PERMISSIONS ARE SORTED BY AOS PERMISSION AND 3rd PARTY ACCESS. KEEP THIS! -->
    <!-- https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/Permissions -->

    <!-- Normal Android third-party permissions -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- SPECIAL PERMISSIONS TO BE ADDED AFTER THIS LINE. /> -->
    <!-- To list all available (used) Android permissions on a device, use:
         # `pm list permissions -g`  -->

    <!-- These are OEM / Samsung Permissions -->
    <uses-permission android:name="android.phone.receiveDetailedCallState"/>
    <uses-permission android:name="com.android.permission.HANDOVER_STATUS"/>
    <uses-permission android:name="com.sec.android.app.controlpanel.permission.PRIVATE"/>
    <uses-permission android:name="com.sec.android.app.factorymode.permission.KEYSTRING"/>
    <uses-permission android:name="com.sec.android.app.cm.permission.PERMISSION_MANAGEMENT"/>
    <uses-permission android:name="com.sec.android.app.phoneutil.permission.KEYSTRING"/>
    <uses-permission android:name="com.sec.android.app.servicemodeapp.permission.KEYSTRING"/>
    <uses-permission android:name="com.sec.android.phone.permission.DATA_ROAMING_SETTINGS_ENHANCED"/>
    <uses-permission android:name="com.sec.android.phone.permission.READ_CALL_SETTINGS"/>
    <uses-permission android:name="com.sec.android.phone.permission.WRITE_CALL_SETTINGS"/>
    <!-- uses-permission android:name="com.sec.factory.permission.ALLOWFTCLIENTCPOBIND"/>
    <uses-permission android:name="com.sec.factory.permission.BT_ID_WRITE"/ -->
    <uses-permission android:name="com.sec.factory.permission.KEYSTRING"/>
    <uses-permission android:name="com.sec.modem.settings.permission.KEYSTRING"/>
    <!-- uses-permission android:name="diagandroid.app.receiveDetailedApplicationState"/>
    <uses-permission android:name="diagandroid.data.receivePDPContextState"/>
    <uses-permission android:name="diagandroid.phone.receiveDetailedCallState"/ -->

    <!-- May be needed (in the future) to access SIM related functions -->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD"/>
   
    <application
            tools:replace="allowBackup"
            android:allowBackup="false"
            android:icon="@drawable/sense_danger"
            android:label="@string/main_app_name"
            android:theme="@style/AppTheme"
            android:name=".AppAIMSICD">

        <activity
                android:name=".AIMSICD"
                android:exported="true"
                android:label="@string/app_name_short"
                android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.DELETE"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.MapViewerOsmDroid"
                android:exported="true"
                android:label="@string/map_view"
                android:parentActivityName=".AIMSICD"
                android:launchMode="singleInstance"
                android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AIMSICD"/>
        </activity>

        <activity
                android:name=".activities.PrefActivity"
                android:exported="true"
                android:icon="@drawable/ic_action_settings"
                android:label="@string/preferences"
                android:parentActivityName=".AIMSICD"
                android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OpenCellIdActivity"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/title_ocid_key"
            android:parentActivityName=".activities.PrefActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <activity
            android:name=".activities.DebugLogs"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/title_debug_logs"
            android:parentActivityName=".AIMSICD"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <activity
                android:name=".activities.MapPrefActivity"
                android:exported="true"
                android:icon="@drawable/ic_action_settings"
                android:label="@string/preferences"
                android:parentActivityName=".AIMSICD">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.AimsicdService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activities.CreditsRollActivity"
            android:screenOrientation="portrait"> </activity>

        <activity
            android:name=".smsdetection.AdvancedUserActivity"
            android:label="@string/title_activity_advanced_user" >
        </activity>
        <activity
            android:name=".smsdetection.AdvancedUserSmsActivity"
            android:label="@string/title_activity_advanced_user" >
        </activity>
    </application>

</manifest>
