<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.SecUpwN.AIMSICD"
          android:versionCode="25"
          android:versionName="0.1.25-alpha-b6">

    <!-- PERMISSIONS ARE SORTED BY TYPE - PLEASE KEEP THIS STRUCTURE. THANK YOU. /> -->

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <!-- SPECIAL PERMISSIONS TO BE ADDED AFTER THIS LINE. /> -->
    <!-- To list all available (used) Android permissions on a device, use:
         # `pm list permissions -g`  -->
         
    <!-- May be needed (in the future) to access SIM related functions 
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD"/> -->
   
    <application
            android:allowBackup="false"
            android:icon="@drawable/sense_danger"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name=".AIMSICD"
                android:exported="true"
                android:label="@string/app_name_short"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.DELETE"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>

        <service
                android:name=".service.AimsicdService"
                android:enabled="true"
                android:exported="false">
        </service>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.SmsReceiver"
                  android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".activities.MapViewerOsmDroid"
                android:exported="true"
                android:label="@string/map_view"
                android:parentActivityName=".AIMSICD">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AIMSICD"/>
        </activity>

        <activity
                android:name=".activities.PrefActivity"
                android:exported="true"
                android:icon="@drawable/ic_action_settings"
                android:label="@string/preferences"
                android:parentActivityName=".AIMSICD">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OpenCellIdActivity"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/title_ocid_key"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:parentActivityName=".activities.PrefActivity">
        </activity>

        <activity
            android:name=".activities.DebugLogs"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/title_debug_logs"
            android:parentActivityName=".AIMSICD">
        </activity>

        <activity
                android:name=".activities.MapPrefActivity"
                android:exported="true"
                android:icon="@drawable/ic_action_settings"
                android:label="@string/preferences"
                android:parentActivityName=".AIMSICD">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
