<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stericson.RootTools">

    <application 
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name="com.stericson.RootToolsTests.SanityCheckRootTools"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
